.overmij {
  text-align: right;
}

body {
  background-color: rgb(212, 220, 224);
  color: black;
  text-align: center;
}

h1,
h2,
body,
p,
table,
footer {
  font-family: Helvetica, Arial, sans-serif; 
}

h1 {
  color: white;
  text-align: center;
  background-color: rgb(141, 180, 195);
  margin-bottom: 20px;
  padding: 1em;
  font-size: 40px;
}

nav a {
  text-decoration: none;
  color: black;
}

ol {
  color: black;
  padding: 1em;
  list-style-type: none;
  gap: 1em;
  justify-content: space-around;
}

ul {
  color: black;
  padding: 1em;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1em;
}

#bestemming-header h3 {
  font-weight: 800;
}

section.bestemmingen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.bestemmingen article {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

section.bestemmingen article h3 {
  font-size: 1em;
  font-weight: 400;
  justify-self: left;
}
section.bestemmingen article p {
  justify-self: left;
}

#bestemming-header p {
  font-weight: 800;
}

p {
  text-align: center;
  /* padding-left: 10em;
  padding-right: 10em; */
}

footer {
  margin-bottom: -5em;
}

footer a {
  color: black;
  text-decoration: none;
}

a {
  transition: background 250ms ease; 
}

a:hover {
  border: 2px solid rgb(222, 233, 235);
  color: white;
  background: lightblue;
  /* transform: translateY(-0.5em) */
}

.intro {
  text-align: right;
}

.a-top5 {
  background-color: antiquewhite;
  border-radius: 2em;
  padding: 0.5em;
  border-radius: 0.2em;
  text-decoration: none;
  transition: background 250ms ease; 
}

/*PLAATJES*/

.img-scooter,
.img-duiken,
.img-fullmoon,
.img-giel {
  float: left;
  margin: 1%;
  text-align:left;
}

.img-tuben,
.img-feye {
  float: right;
  margin: 1%;
}

.duiken,
.tuben,
.fullmoon,
.feye,
.giel {
  background-color: rgb(212, 220, 224);
  padding: 40px;
  background: whitesmoke;
  /* text-align: center; */
  border-radius: 50px;
  margin: 2em;
}

.img-snorkelen {
  padding: 20px;
  margin: 2em;
}
